@forward './lib/styles/_tokens.scss';

:root {
  /* Primary */
  --md-sys-color-primary: #6750a4;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #eaddff;
  --md-sys-color-on-primary-container: #21005d;

  /* Secondary */
  --md-sys-color-secondary: #625b71;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-on-secondary-container: #1d192b;

  /* Tertiary */
  --md-sys-color-tertiary: #7d5260;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd8e4;
  --md-sys-color-on-tertiary-container: #31111d;

  /* Error */
  --md-sys-color-error: #b3261e;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-error-container: #410e0b;

  /* Background / Surface */
  --md-sys-color-background: #fffbfe;
  --md-sys-color-on-background: #1c1b1f;
  --md-sys-color-surface: #fffbfe;
  --md-sys-color-on-surface: #1c1b1f;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-on-surface-variant: #49454f;
  --md-sys-color-outline: #79747e;
  --md-sys-color-outline-variant: #cac4d0;

  --iconic-spacing: .25rem; 

  --iconic-line-height-normal: 1.6;
  --iconic-form-control-padding-inline: 1em;

  --iconic-button-radius: 8px;

  --iconic-font-scale: 1rem; 
  --iconic-font-size-xs: round(calc(var(--iconic-font-size-sm) / 1.125), 1px);
  --iconic-font-size-sm: round(calc(var(--iconic-font-scale) / 1.125), 1px);
  --iconic-font-size-md: round(calc(var(--iconic-font-scale)), 1px);
  --iconic-font-size-lg: round(calc(var(--iconic-font-scale) * 1.125), 1px);
  --iconic-font-size-xl: round(calc(var(--iconic-font-size-lg) * 1.125), 1px);
}
